﻿<div class="wallets-view" ng-controller="WalletsController as walletController">

    <section class="col-lg-6">

        <header class="row">
            <div class="col-lg-6">
                <h3>
                    <span class="label label-primary"> Wallets You Have Now </span>
                </h3>
            </div>
            <div class="col-lg-6">
                <h3>
                    <button class="btn btn-default col-lg-12"
                            ui-sref="app.wallets.new"
                            ng-disabled="!walletController.allowAddNewWallet()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add One More Wallet
                    </button>
                </h3>
            </div>
        </header>

        <div class="row">
            <div class="col-lg-12">

                <h3 ng-hide="walletController.anyWallets()">
                    <span class="alert alert-info"> NO WALLETS YET </span>
                </h3>

                <ul class="list-group wallets-list" ng-show="walletController.anyWallets()">

                    <li class="list-group-item wallet"
                        ng-class="{highlighted: walletController.isWalletViewActive(wallet)}"
                        ng-repeat="wallet in walletController.wallets">

                        <span class="label label-info wallet-name">
                            {{::wallet.name }}
                        </span>

                        <display-currency class="wallet-balance"
                                          amount="{{::wallet.balance}}"
                                          currency-code="{{::wallet.currencyCode}}">
                        </display-currency>

                        <button class="btn btn-success btn-xs" ng-click="walletController.addIncome(wallet)">
                            <i class="fa fa-plus"></i>
                        </button>

                        <button class="btn btn-danger btn-xs" ng-click="walletController.addExpense(wallet)">
                            <i class="fa fa-minus"></i>
                        </button>

                        <button class="btn btn-xs btn-default pull-right" ng-click="walletController.showBalance(wallet)">Details</button>

                        <button class="btn btn-xs btn-default pull-right" ng-click="walletController.remove(wallet)">Remove</button>

                        <p class="wallet-description" ng-show="::wallet.description">
                            {{::wallet.description}}
                        </p>

                    </li>

                </ul>

            </div>
        </div>


    </section>

    <aside class="col-lg-6 wallets-subview-container" ui-view></aside>

</div>
