﻿.wallets-view {

}

    .wallets-view .wallets-list .wallet.highlighted {
        border: 2px black groove;
        border-radius: 3px;
    }

    .wallets-view .wallets-list .wallet-name,
    .wallets-view .wallets-list .wallet-balance {
        margin-left: 15px;
        margin-right: 15px;
    }

    .wallets-view .wallets-list .wallet-description {
        text-indent: 15px;
        margin-top: 15px;
    }

    .wallets-view .wallets-subview-container {
        position:relative;
    }

        .wallets-view .wallets-subview-container .wallets-subview {
            position: fixed;
            width: 25%;
        }

        .wallets-view .wallets-subview-container .wallets-subview textarea {
            resize: vertical;
        }
