﻿extends ./layout.jade

block content

    div.col-lg-offset-4.col-lg-4

        h1.center-block.text-primary Sign Up

        if message

            div(class='alert alert-danger' role='alert')= message

        form(class='form' method='post')

            div.form-group
                label.control-label NAME:
                input(class='form-control' name='username' type='text' placholder='Name' required)

            div.form-group
                label.control-label PASSWORD:
                input(class='form-control'
                name='password'
                type='password'
                placholder='Password'
                required
                minlength='#{constants.minPasswordLength}'
                maxlength= '#{constants.maxPasswordLength}')

            div
                button(class='btn btn-primary brn-large' type='submit') Sign Up
                a(class='btn btn-default btn-large' href='/account/signin') Sign In