﻿extends ./layout.jade

block content

    div.col-lg-offset-4.col-lg-4

        h1.center-block.text-primary Sign In

        if message

            div(class='alert alert-danger' role='alert')= message

        form(class='form' method='post')

            div.form-group
                label.control-label NAME:
                input(class='form-control' name='username' type='text' placholder='Name' required)

            div.form-group
                label.control-label PASSWORD:
                input(class='form-control' name='password' type='password' placholder='Password' required)

            div
                button(class='btn btn-primary btn-large' type='submit') Sign In
                a(class='btn btn-default brn-large' href='/account/signup') Sign Up
