﻿<div class="panel panel-primary wallets-subview">

    <div class="panel-heading">
        Add New {{::controller.type.name}} To {{::controller.wallet.name }}
        <button type="button" class="close" aria-label="Close" to-parent-state>
            &times;
        </button>

    </div>
    <div class="panel-body">
        <form class="form" ng-submit="controller.submit()">

            <div class="form-group">
                <label for="expense-name" class="control-label">Name</label>
                <input type="text"
                       id="expense-name"
                       class="form-control"
                       ng-model="controller.balanceChange.name"
                       required />
            </div>

            <div class="form-group">
                <label for="expense-amount" class="control-label">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon" id="amount-sign">
                        <balance-change-icon type="{{::controller.type.id}}"></balance-change-icon>
                    </span>
                    <input type="number"
                           min="0"
                           id="expense-amount"
                           class="form-control"
                           ng-model="controller.balanceChange.amount"
                           required />
                    <span class="input-group-addon">
                        <currency-code-icon currency-code="{{::controller.wallet.currencyCode}}"></currency-code-icon>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Tags</label>
                <div isteven-multi-select
                     input-model="controller.tags"
                     output-model="controller.balanceChange.tags"
                     button-label="name"
                     item-label="name"
                     search-property="name"
                     on-save-new="controller.saveNewTag(data)"
                     tick-property="selected">
                </div>
            </div>

            <div class="form-group">
                <label for="expense-date" class="control-label">When</label>
                <input type="text"
                       id="expense-date"
                       class="form-control"
                       uib-datepicker-popup
                       open-datepicker-on-click
                       ng-model="controller.balanceChange.when"
                       close-text="Close" />
            </div>

            <div class="form-group">
                <label for="expense-description" class="control-label">Description</label>
                <textarea type="text"
                          id="expense-description"
                          class="form-control"
                          ng-model="controller.balanceChange.description"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

        </form>
    </div>
</div>
