<ul class="nav nav-pills nav-stacked" ng-controller="NavbarController as navbar">
    <li ng-repeat="item in navbar.menu" ng-class="{active: navbar.isStateActive(item.stateName)}">
        <a ui-sref="{{ item.stateName }}">
            {{ item.name }}
        </a>
    </li>
</ul>
