﻿doctype html
html(ng-app="money" ng-strict-di)

  head

    title MONEY

    link(rel='stylesheet' href='vendor.css')
    link(rel='stylesheet' href='app.css')

  body(ui-view)

    script(src='vendor.js')
    script(src='templates.js')
    script(src='app.js')

