﻿<header>
    <h2> Statistics for chosen period of time</h2>
</header>

<div class="col-lg-offset-1 cols-lg-offset-10" ng-controller="StatsController as controller">

    <div class="form-inline">
        <div class="form-group">
            <label for="startdate">Starting From:</label>
            <input type="text"
                   id="startdate"
                   class="form-control"
                   uib-datepicker-popup
                   open-datepicker-on-click
                   ng-model="controller.startDate"
                   max-date="controller.maxDate"
                   ng-change="controller.refreshStats()"
                   close-text="Close" />
        </div>
        <div class="form-group">
            <label for="enddate">Until:</label>
            <input type="text"
                   class="form-control"
                   id="enddate"
                   uib-datepicker-popup
                   open-datepicker-on-click
                   ng-model="controller.endDate"
                   max-date="controller.maxDate"
                   min-date="controller.startDate"
                   ng-change="controller.refreshStats()"
                   close-text="Close" />
        </div>
        <div class="form-group">
            <label for="wallet-selection">For Wallet:</label>
            <select class="form-control"
                    id="wallet-selection"
                    ng-model="controller.chosenWalletId"
                    ng-change="controller.refreshStats()">
                <option value="">None</option>
                <option ng-repeat="wallet in controller.wallets" value="{{::wallet.id}}">{{::wallet.name}} {{::wallet.currencyCode}}</option>
            </select>
        </div>
    </div>

    <div class="stats-container" ng-if="controller.showStats">
        <div class="row">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Daily Balance</h3>
                </div>
                <div class="panel-body">
                    <canvas class="chart chart-line"
                            chart-data="controller.stats.dailyBalance.data"
                            chart-labels="controller.stats.dailyBalance.labels"
                            chart-legend="true"
                            chart-series="controller.stats.dailyBalance.series"></canvas>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Daily Balance Changes </h3>
                </div>
                <div class="panel-body">
                    <canvas class="chart chart-line"
                            chart-data="controller.stats.dailyChanges.data"
                            chart-labels="controller.stats.dailyChanges.labels"
                            chart-legend="true"
                            chart-series="controller.stats.dailyChanges.series"></canvas>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-lg-6 ">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Incomes By Tags</h3>
                    </div>
                    <canvas class="chart chart-doughnut"
                            chart-data="controller.stats.byTags.incomes.data"
                            chart-labels="controller.stats.byTags.incomes.labels"
                            chart-legend="true"
                            chart-series="controller.stats.byTags.incomes.series"></canvas>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Expenses By Tags</h3>
                    </div>
                    <canvas class="chart chart-doughnut"
                            chart-data="controller.stats.byTags.expenses.data"
                            chart-labels="controller.stats.byTags.expenses.labels"
                            chart-legend="true"
                            chart-series="controller.stats.byTags.expenses.series"></canvas>
                </section>
            </div>
        </div>
    </div>
    
</div>
