﻿<div class="panel panel-primary wallets-subview" ng-controller="BalanceController as balance">

    <div class="panel-heading">
        Detailed Balance For {{::balance.wallet.name}}
        <button type="button" class="close" aria-label="Close" to-parent-state>
            &times;
        </button>
    </div>

    <div class="panel-body">
        <h4>
            Current Balance:
            <display-currency amount="{{::balance.wallet.balance}}"
                              currency-code="{{::balance.wallet.currencyCode}}">
            </display-currency>
        </h4>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="balanceChange in balance.wallet.incomesAndExpenses">

                    <display-currency class="wallet-balance"
                                      amount="{{::balanceChange.amount}}"
                                      currency-code="{{::balance.wallet.currencyCode}}">
                    </display-currency>

                    {{::balanceChange.name}}

                    <time datetime="{{::balanceChange.whenHappened}}">
                        {{::balanceChange.whenHappened | date:'short'}}
                    </time>

                    <p ng-show="::balanceChange.description">
                        {{::balanceChange.description}}
                    </p>

                </li>
            </ul>
        </div>
    </div>
</div>
