﻿<div class='container-fluid'>

    <section class="col-lg-offset-1 col-lg-10">

        <header class="row" ng-controller="AppController as controller">
            <div class="col-lg-12">
                <h1> Money Management </h1>
                <h5>
                    Track your finances, {{::controller.username}}.
                    Or <a href="/account/signout/">leave</a>, if it is not you.
                </h5>
            </div>
        </header>

        <section class="row">
            <nav class="col-lg-2" app-navigation-bar></nav>
            <article class="col-lg-10" ui-view></article>
        </section>

    </section>

</div>
