﻿<div class="panel panel-primary wallets-subview" ng-controller="NewWalletController as newWallet">

    <div class="panel-heading">
        Create New Wallet Here
        <button type="button" class="close" aria-label="Close" to-parent-state>
            &times;
        </button>
    </div>

    <div class="panel-body">

        <form class="form" ng-submit="newWallet.submit()">

            <div class="form-group">
                <label for="wallet-name" class="control-label">Wallet Name</label>
                <input type="text"
                       id="wallet-name"
                       class="form-control"
                       placeholder="Required name"
                       ng-model="newWallet.name"
                       required />
            </div>

            <div class="form-group">
                <label for="currency" class="control-label">Wallet Currency</label>
                <select id="currency" class="form-control" ng-model="newWallet.currencyCode" required>
                    <option value="">Choose something</option>
                    <option ng-repeat="currency in newWallet.currencies" value="{{::currency.code}}">{{::currency.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="wallet-description" class="control-label">Description</label>
                <textarea type="text"
                          id="wallet-description"
                          class="form-control"
                          placeholder="Optional description"
                          ng-model="newWallet.description"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

        </form>

    </div>
</div>
